/*GENERAL*/
/*Set body to use flexbox and make footer stick to bottom of page*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
/*Body style*/
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}
/*Make footer stick to bottom*/
footer {
    margin-top: auto;
}





/*NAVIGATION BAR*/
/*Add background color to the navigation bar*/
.navbar { 
    background-color: darkslategray;
    display: flex;
    justify-content: center;

}
/*Style the links in the navigation bar*/
.navbar a { 
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px 50px 15px;
    font-size: 15px;
    text-align: center;
}
/*Change background color on hover*/
.navbar a:hover {
    background-color: rgb(59, 97, 97);
}
/*Add color on active page*/
.navbar a:active {
    background-color: rgb(36, 61, 61);
}
/*Add color on selected page*/
.navbar a.selected {
    background-color: rgb(36, 61, 61);
    color: white;
}






/*FOOTER*/
/*Style the footer bar*/
.footer-bar {
    display: flex;
    background-color: darkslategray;
    height: 20px;
    font-size: 14px;
    color: white;
    align-items: center;
    padding: 15px 15px;
    gap: 20px;
}
/*Remove margin from paragraphs in footer*/
.footer-bar p {
    margin:0;
}
/*Style the Jira link in footer*/
.footer-bar a {
    color: white;
    text-decoration: none;
    margin-left: auto;
}
/*Add underline on hover*/
.footer-bar a:hover {
    text-decoration: underline;
}